<section class="gallery" id="galeria">
  <div class="container">

    <!-- HEADER -->
    <div class="section-header reveal">
      <h2>Galeria</h2>
      <p>Nossos trabalhos em destaque</p>
    </div>

    <!-- GRID -->
    <div class="gallery-grid">

      <!-- IMAGEM PRINCIPAL (BARBEARIA) -->
      <div class="gallery-item hero reveal">
        <img src="assets/imagem-galeria-faxaida.jpg" alt="Barbearia">
      </div>

      <!-- IMAGENS SECUNDÁRIAS -->
      <div class="gallery-item small reveal">
        <img src="assets/img-galeria.jpg" alt="Corte de cabelo 1">
      </div>

      <div class="gallery-item small reveal">
        <img src="assets/img3-galeria.jpg" alt="Corte de cabelo 2">
      </div>

      <div class="gallery-item small reveal">
        <img src="assets/img4-galeria.jpg" alt="Corte de cabelo 3">
      </div>

      <div class="gallery-item small reveal">
        <img src="assets/img5-galeria.jpg" alt="Corte de cabelo 4">
      </div>

    </div>

  </div>
</section>
