<section class="cta-section">
  <div class="container">

    <div class="cta-card reveal">

      <h2>Pronto para elevar seu estilo?</h2>

      <p class="subtitle">
        Agende seu horário e experimente o melhor da barbearia premium.
      </p>

      <!-- INFOS -->
      <div class="cta-info">

        <div class="info-item">
          <img class="cta-icon" src="assets/LocationMarkerOutline.svg" alt="Localização">
          <p>CEP 04814-130, São Paulo</p>
        </div>

        <div class="info-divider"></div>

        <div class="info-item">
          <img class="cta-icon" src="assets/ClockOutline.svg" alt="Horário">
          <p>Seg - Sex: 10h às 20h | Sáb: 9h às 18h</p>
        </div>

      </div>

     <a href="#" class="cta-button">
  <img class="wa-icon" src="assets/whatsapp.svg" alt="WhatsApp">
  Agendar via WhatsApp
</a>

    </div>

  </div>
</section>
