<section class="hero">
  <div class="container hero-content">

    <!-- TEXTO -->
    <div class="text reveal">
      <h1 class="reveal">
        CORTE PRECISO.<br />
        PRESENÇA IMPECÁVEL.
      </h1>

      <p class="typing reveal">
Mais do que um corte de cabelo.
Uma experiência premium onde cada detalhe é pensado para elevar seu estilo e confiança.
Autenticidade, técnica e atmosfera única.
      </p>

      <div class="buttons reveal">
        <a href="#" class="btn-primary">Agendar horário</a>
        <a href="#servicos" class="btn-outline">Ver serviços</a>
      </div>
    </div>

    <!-- IMAGEM -->
    <div class="image reveal">
      <img src="assets/hero.png" />

      <!-- CARD 1 -->
      <div class="card card-left reveal">
        <h3>5+</h3>
        <p>Anos de experiência em grooming masculino</p>
      </div>

      <!-- CARD 2 -->
      <div class="card card-right reveal">
        <h3 class="counter" data-target="1000">0</h3>
        <p>Clientes satisfeitos e estilosos</p>
      </div>

    </div>

  </div>
</section>
